<%= render "devise/shared/error_messages", resource: resource %>

<div class="row py-3">
  <div class="col-lg-4 mx-auto">
    <section class="d-flex justify-content-center mt-5 mb-3">
      <h1>Изменить профиль</h1>
    </section>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="field mt-3">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'ФИО', class: 'form-control py-2' %>
      </div>

      <div class="field mt-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Адрес почты', class: 'form-control py-2' %>
      </div>

       <div class="field mt-3">
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", placeholder: 'Номер телефона', class: 'form-control py-2' %>
      </div>

       <div class="field mt-3">
        <%= f.text_field :city, autofocus: true, placeholder: 'Город', class: 'form-control py-2' %>
      </div>

      <div class="field mt-3">
      <%= f.text_field :street, autofocus: true, autocomplete: "street", placeholder: 'Улица', class: 'form-control py-2' %>
      </div>

      <div class="field mt-3">
      <%= f.text_field :house, autofocus: true, autocomplete: "flat_number", placeholder: '№ дома', class: 'form-control py-2' %>
      </div>

      <div class="field mt-3">
      <%= f.text_field :flat_number, autofocus: true, autocomplete: "flat_number", placeholder: '№ квартиры', class: 'form-control py-2' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Ждём подтверждения с адреса: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mt-3">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Ничего не вводите, если хотите оставить пароль', class: 'form-control py-2' %>
      </div>

      <div class="field mt-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Подтвердить новый пароль', class: 'form-control py-2' %>
      </div>

      <div class="field mt-3">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Текущий пароль, для любого изменения', class: 'form-control py-2' %>
      </div>

      <div class="actions mt-4 mb-5">
        <%= f.submit "Обновить", class: 'form-control py-2 btn btn-success fw-bold mb-2' %>
        <%= link_to "Назад", :back, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>