<main>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade mb-5 mt-4" data-bs-ride="carousel">
    <div class="carousel-indicators" style="width:69%">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="border-radius: 25px;">
      <div class="carousel-item active">
        <%= image_tag 'https://cloud.mysmbpage.com/images/imagenes_clientes/pyme_1376_414807.jpg', style: "border-radius: 25px;margin-left: 310px;", size: '1280x500' %>  
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://cloud.mysmbpage.com/images/imagenes_clientes/pyme_1376_414807.jpg',style: "border-radius: 25px;margin-left: 310px;", size: '1280x500' %> 
      </div>  
      <div class="carousel-item">
        <%= image_tag 'https://www.vatupdate.com/wp-content/uploads/2018/07/pizza-3007395_1280-1280x500.jpg', style: "border-radius: 25px;margin-left: 310px;", size: '1280x500' %> 
      </div>
    </div>
  </div>

      <div class="section-header">
          <h2>Актуальные товары:</h2>
          <p>Наиболее актуальные товары в этом месяце, успей приобрести:</p>
        </div>

  <div class="container marketing">
    <div class="row">
      <% @products = Product.all.sample(3) %>
      <% @products.each do |product| %>
        <div class="col-lg-4">
        </div>
      <% end %>



<div id="products" name="products">
  <% @products = Product.all.sample(6) %>
  <% @products.each do |product| %>
  <div class="row row-cols-3 row-cols-md-3 g-4">
  <div class="col">
    <div class="card" style="border-radius: 25px;">
      <% if product.image.attached?%>
    <%= image_tag(product.image, style:"width: 420px; height: 500px; border-radius: 25px;", class: "img-fluid") %>
    <% end%>
<div class="card-body">
        <div class="d-flex justify-content-center">
        <h4><%= link_to product.name, product, class: "a" %></h4>
        </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-center">
              <p style="font-size:20px;"><%= product.price %> <strong>BYN</strong></p>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center pb-0 mb-1">
          <p><%= link_to 'Подробнее', product_path(product), class: "btn btn-outline-dark", style: "padding: 10px 100px;"%></p>
            </div>
          </div>
      </div>
    </div>
  </div
  
  <% end %>








<div></div>

      <section id="about" class="about" name="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>О нас</h2>
          <p><strong>Сеть магазинов «Новый Континент»</strong></p>
        </div>

        <div class="row">
          <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
            <img src="https://avatars.mds.yandex.net/get-altay/4464784/2a00000179d8fc626081e286dc02b1e64736/orig" class="img-fluid" alt="" style="border-radius:25px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
            <h3>Добро пожаловать на сайт магазина «Новый Континент»</h3>
            <p class="fst-italic">
              Все любят получать посылки от родственников и друзей из других городов и стран. Это всегда волнительно. Ты открываешь посылку и с интересном начинаешь доставать ее содержимое, чем же порадовали тебя?

А теперь вы можете получать и дарить посылки от супермаркета "Новый Континент"! Система доставки ЕдаКуда.бел позволит получать вкусную еду прямо на дом или офис! Не тратьте время на хождение в магазины. Потратьте его на себя и своих близких, ведь они достойны этого.

Зачем мы это делаем? Мы команда профессионалов, преданная любимому делу, которая каждую минуту своей работы тратит на то, чтобы сделать вашу жизнь удобнее, приятнее и вкуснее! ) Мы хотим, чтобы каждый в нашем любимом городе смог получить самый высокий уровень сервиса.

С уважением,
Дружная команда «ЕдаКуда.бел»
            </p>
            <p>
             Будем рады видеть вас с 7.00 до 24.00 по адресу: <br>
             Г.Жлобин, Ул.К.Маркса, 64
            </p>
          </div>
        </div>

      </div>
    </section>

 <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Наши повара</h2>
          <p>Наши <span>проффесиональные</span> повара.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://static.tildacdn.com/tild3136-3834-4830-a565-663137383965/DSC01083.jpg" style="height:650px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Игорь Брагин</h4>
                <span>Повар</span>
                <p>Секрет успеха в жизни заключается в том, чтобы есть то, что вам нравится, и позволить пище бороться внутри.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://thumb.tildacdn.com/tild3265-3838-4831-b435-666464653664/-/resize/824x/-/format/webp/IMG_7246.jpg" style="height:650px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Антон Кабанов</h4>
                <span>Повар</span>
                <p>Авторская кухня - это показать свою индивидуальность в том, что вы делаете, и это чувство делает его чем-то другим.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="https://static.sobaka.ru/images/image/01/20/18/02/_normal.jpg?v=1572944636" style="height:650px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Юрий Колеснев</h4>
                <span>Повар</span>
                <p>Открытие нового блюда более выгодно для человечества, чем открытие звезды.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->

        <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>О нас</h2>
          <p>Информация о нас!</p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <div>
                <h3>Наш адрес</h3>
                <p>Республика Беларусь, Гомельская область, Г.Жлобин, Ул.К.Маркса, 64</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <div>
                <h3>Электронная почта</h3>
                <p>newcontinent@example.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <div>
                <h3>Номер</h3>
                <div><strong>+375 ( 44 ) 724-19-23</strong>
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <div>
                <h3>Время работы</h3>
                <div><strong>Пн-Вс:</strong> 07:00 - 23:00;
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>



    </div>
</main>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="width:70%; margin-left:250px;">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Новый континент</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Товары</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Контакты</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О нас</a></li>
    </ul>
  </footer>