<div class="container mt-4">
  <table class="table text-center" style="border-radius:0px; width:120%; margin-left:-100px;border:4px solid black;background-color:white;" >
    <thead class="table-dark" style="border-radius:5px; background-color:white;">
      <tr>
        <th >Картинка</th>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Заказано</th>
        <th>Номер телефона</th>
        <th>Фио</th>
        <th>Город</th>
        <th>Улица</th>
        <th>Дом</th>
        <th>Квартира</th>
        <th></th>
      </tr>
    </thead>

    <tbody class="table-bordered">
      <% @payments.each do |payment| %>
          <% payment.cart.orderables.each do |orderable|%>
            <tr>
              <td><%=image_tag(orderable.product.image, style:"width: 70px; height: 70px; border-radius: 15px;", class: "img-fluid") %></td>
             <td class="product-text"> <strong><%= orderable.product.name %></strong></td>
              <td class="product-text"><%= orderable.quantity %></td>
              <td class="product-price"><%= orderable.product.price %></td>
              <td class="product-text"><%= orderable.created_at.to_s.split('UTC')[0].capitalize %></td>
              <td class="product-text"><%= payment.user.phone %></td>
              <td class="product-text"><%= payment.user.name %></td>
              <td class="product-text"><%= payment.user.city %></td>
              <td class="product-text"><%= payment.user.street %></td>
              <td class="product-text"><%= payment.user.house %></td>
              <td class="product-text"><%= payment.user.flat_number %></td>
              <td class="product-text"><div class="form-check form-switch">
              <% if current_user.admin?%>
            
              <% end%>
            </div></td>
            </tr>
        <% end %>
      <% end %>
  </tbody>
 </table>

</div>
