<div id="<%= dom_id product %>">
  <p>
    <strong>Название:</strong>
    <%= product.name %>
  </p>

  <p>
  <% if product.image.attached?%>
    <%= image_tag(product.image, style:"width: 200px;") %>
    <% end%>
  </p>

 <p>
    <strong>Описание:</strong>
    <%= product.composition %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Производитель:</strong>
    <%= product.manufacturer %>
  </p>

  <p>
    <strong>Подкатегория:</strong>
    <%= product.type_id %>
  </p>

  

</div>
