<div class="container mt-1 px-1">
<h1>Наши товары:</h1>
<% if current_user&.admin?%>
<h1><%= link_to 'Добавить товар', new_product_path, class: 'btn btn-outline-dark' %></h1>
<%end%>
<div id="products">
  <% @products.each do |product| %>
  <div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
    <div class="card" style="border-radius: 15px;">
      <% if product.image.attached?%>
    <%= image_tag(product.image, style:"width: 450px; height: 500px; border-radius: 20px;", class: "img-fluid") %>
    <% end%>
      <div class="card-body">
        <div class="d-flex justify-content-center">
        <p><%= link_to product.name, product, class: "text-dark" %></p>
        </div>
         <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-left">
              <p><strong>Производитель: </strong> <%=  product.manufacturer %></p>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-left">
              <p><strong>Цена: </strong><%= product.price %> <strong>BYN</strong></p>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center pb-0 mb-1">
               <% if current_user %>
              <%= form_with(url: cart_add_path) do |f| %>
                <%= f.hidden_field :id, value: product.id %>
                <div class="row g-0">
                  <div class="col-sm-6 col-md-8">
                    <div class="d-flex mb-4" style="max-width: 250px">
                      <button class="btn btn-danger px-3 me-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown(); return false;">
                        -
                      </button>

                      <div class="form-outline">
                        <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>
                      </div>

                      <button class="btn btn-danger px-3 ms-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp(); return false;">
                        +
                      </button>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <%= f.submit 'В корзину', class: 'btn btn-outline-danger', style: 'margin-left:10px;'%>
                  </div>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  </div
  
  <% end %>
 