<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card" style="margin-top:20px; border-radius:25px;">
        <div class="card-body">
            <h3 class="card-title"><%= @product.name %></h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"> 
                     <% if @product.image.attached?%>
                    <%= image_tag(@product.image, style:"width: 500px; border-radius: 15px;") %>
                    <%end%>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Состав: </h4>
                    <p><%= @product.composition %></p>
                    <h2 class="box-title mt-5">Цена:  <%= @product.price %><small class="text-success">BYN</small></h2>
                    <h2 class="box-title mt-5">Масса продукта: </h2>
                    <p> <%= @product.mass %></p>
                    <h2 class="box-title mt-5">Cтрана производитель: </h2>
                    <p><%= @product.country %></p>
                    <h3 class="box-title mt-5">Производитель: </h3>
                    <p><%= @product.manufacturer %></p>
                    <h3 class="box-title mt-5">Рекомендации: </h3>
                    <p><%= @product.recommendation %></p>
                      <% if current_user %>
                    <%= form_with(url: cart_add_path) do |f| %>
                    <%= f.hidden_field :id, value: @product.id %>
                    <div class="row g-0">
                        <div class="col-sm-6 col-md-8">
                        <div class="d-flex mb-4" style="max-width: 250px">
                            <button class="btn btn-success px-3 me-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown(); return false;">
                            -
                            </button>

                            <div class="form-outline">
                            <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>
                            </div>

                            <button class="btn btn-success px-3 ms-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp(); return false;">
                            +
                            </button>
                        </div>
                        </div>
                        <div class="col-6 col-md-4">
                        <%= f.submit 'В корзину', class: 'btn btn-outline-success' %>
                        </div>
                    </div>
                    <% end %>
                <% end %>
                    <%= link_to "Назад", products_path, class: 'btn btn-outline-dark'%><br><br>
                    <% if current_user&.admin? %>
                    <%= link_to "Изменить продукт", edit_product_path(@product), class: "btn btn-secondary" %> <br><br>
                     <%= button_to "Удалить", @product, method: :delete , class: "btn btn-danger"%><br><br>
                     <%end%>
                 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br><br><br><hr>
